body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

header {
    position: sticky;
    top: 0px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header > h1 {
    margin: 0px;
}

#chatForm {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#chatMessage {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#chatMessage:focus {
    outline: none;
}

body.darkMode #chatMessage {
    background-color: #2f2e2e;
    color: white;
}

#chatForm>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 3rem;
}

#messages>li {
    padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
    background: #efefef;
}

body.darkMode #messages {
    background-color: black;
    color: white;
}

body.darkMode #messages > li:nth-child(odd) {
    background-color: #2f2e2e;
    color: white;
}

#messages>li.newUser {
    color: green !important;
    font-style: italic;
}

#messages>li.userDisconnected {
    color: red !important;
    font-style: italic
}

#messages>li.self {
    font-weight: bold;
}

.hidden {
    display: none !important;
}

#nameFormContainer {
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nameForm {
    background-color: white;
    padding: 100px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.leftChat {
    text-align: left;
}

.middleChat {
    text-align: center;
}

.rightChat {
    text-align: right;
}

body.darkMode {
    background-color: black;
}

body.darkMode header {
    background-color: black;
    color: white;
}

.fa-sun {
    color: yellow;
}

.fa-moon {
    color: black;
}

header > i {
    font-size: 28pt;
}